/* VARIABLES */
:root {
    --primary-green: #A2D9CE;
    --dark-green: #16A085;
    --light-green:#D0ECE7 ;
    --white: white;
    --primary-text: #212121;
    --secondary-text: #757575;
    --light-grey: #bdbdbd;

}